#container {
  height: 100%;
  position: relative;
  overflow: hidden;
}
div.header{
  position: fixed;
  background-color: rgb(126, 162, 228);
  top: 0;
  z-index: 10;
  width: 100%;
}

div .footer{
  position: fixed;
  background-color: rgb(126, 162, 228);
  bottom: 0;
  width: 100%;
}

h1 {
  text-align: center;
}
