table, th, td, tr {
  border:1px solid lightgray;
  width: 800px;
  text-align:center;
}
th{
  color: #0076a9;

}
.table {
  align-self: center;
  margin-bottom: 25px;
  text-align:center;
  padding: 50px 200px 50px 200px;
}

.btnAdd {
  color: white;
  background-color:#008CBA;
  padding: 10px;
  border: 2px;
  width: 100px;
  border-radius: 4px;
  opacity: 0.9;
}

.btnAdd:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btnAdd:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btnDelete {
  color: white;
  background-color: #008CBA;
  padding: 10px;
  border: 2px;
  width: 100px;
  border-radius: 4px;
  margin: 5px;
  opacity: 0.9;
}
.btnDelete:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btnDelete:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.form input[type=text], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #d8cfcf;
}

.alert {
  background-color: rgb(231, 177, 177);
  border-left-color: red;
  border-left-width: 5px;
}

.btnSave-form{
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 49%;
  opacity: 0.9;
  background-color:#008CBA;
}

.btnSave-form:hover{
  opacity: 1;
}

.btnCancel-form{
  color: white;
  background-color: rgb(172, 44, 44);
  padding: 16px 20px;
  width: 49%;
  border: none;
  cursor: pointer;
}

.btnCancel-form:hover{
  opacity: 1;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-group{
  width: 100%;
}

.checkbox {
  -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #0076a9;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	display: inline-block;
	position: relative;

}

.checkbox:active, .checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #535fcc;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #000000;
}

table,tableData, input[type="text"] {
  text-align:center;
}

.tdData input[type="text"]:hover  {
  background-color: rgb(195, 210, 236);
}

.tdData input[type="text"]:focus  {
  border-bottom:2px solid red;
  border: 2px;
  border-radius: 4px;

}

.iconbtn {
  cursor: pointer;
}

.btnSave {
  align-self: center;
  color: white;
  background-color:#008CBA;
  border: 2px;
  border-radius: 4px;
  opacity: 0.9;
  margin:auto;
}

.btnSave:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btnSave:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.fname,.lname,.email {
  width: 100%;
}

.button {
  margin-top: 80px;
  margin-left: 200px;
}

select{
  background-color: rgb(145, 207, 228);
  padding: 10px;
  border: 2px;
  width: 250px;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 2px 20px 0 rgba(0,0,0,0.19);
  opacity: 0.8;
}
select:hover{
  opacity: 1;
}

option {
  cursor: pointer;
}

.pagination {
  padding: 10px;
  font-size: 30px;
}





















/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.mymodal-content {
  /* margin-bottom: 20%; */
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}
.mycontainer {
  padding: 16px;
}

.mymodal {
  /* display: none; */
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: #cacdd3; */
  padding-top: 50px;
}




