<div class="button">
  <button (click)="showModal()" class="btnAdd" [disabled]="selectedIDCount!=0">Add</button>
  <button (click)="deleteUser()" class="btnDelete" [disabled]="selectedIDCount==0">Delete</button>
 </div>

<!-- USER TABLE -->
 <div class="table">
  <table *ngFor="let headerData of headers">
    <th>
      <input type="checkbox" class="checkbox" [checked]="isSelectAll" (click)="checkAll($event.target.checked)">
    </th>
    <th>{{headerData.id}}</th>
    <th>{{headerData.firstname}}</th>
    <th>{{headerData.lastname}}</th>
    <th>{{headerData.email}}</th>
    <th>{{headerData.state}}</th>

    <tr *ngFor="let users of users;let i=index;">
      <td>
        <input type="checkbox" class="checkbox" [(ngModel)]="selectedIDs[i]" (click)="check($event, users, i)">
      </td>
      <td>{{i+1}}</td>
      <td class="tdData" id="tdData">
        <input *ngIf="isEdit[i + 'fname']" type="text" class="fname" [(ngModel)] = "users.firstname"><br>
        <label *ngIf="!isEdit[i + 'fname']">{{users.firstname}}</label>
        <span *ngIf="!isEdit[i + 'fname']" id="icon" class="fa fa-edit iconbtn" (click)="editData(i,'fname')"></span>
        <span *ngIf="isEdit[i + 'fname']"><button class="btnSave" (click)="saveUser(i,'fname')">Save</button></span>
      </td>

      <td class="tdData">
        <input *ngIf="isEdit[i + 'lname']" type="text" class="lname"  [(ngModel)] = "users.lastname"><br>
        <label *ngIf="!isEdit[i + 'lname']">{{users.lastname}}</label>
        <span *ngIf="!isEdit[i + 'lname']" class="fa fa-edit iconbtn" (click)="editData(i,'lname')"></span>
        <span *ngIf="isEdit[i + 'lname']"><button class="btnSave" (click)="saveUser(i,'lname')">Save</button></span>
      </td>

      <td class="tdData">
        <input *ngIf="isEdit[i + 'email']" type="text" class="email"  [(ngModel)] = "users.email"><br>
        <label *ngIf="!isEdit[i + 'email']">{{users.email}}</label>
        <span *ngIf="!isEdit[i + 'email']" class="fa fa-edit iconbtn" (click)="editData(i,'email')"></span>
        <span *ngIf="isEdit[i + 'email']"><button class="btnSave" (click)="saveUser(i,'email')">Save</button></span>
      </td>

      <td>
          <span class="dropdown">
              <select>
                <option  selected="selected">Select</option>
                <option *ngFor="let state of states">{{state.name}}</option>
              </select>
          </span>
        </td>
    </tr>
  </table>
</div>

<!-- PAGINATION -->
  <div>
    <div>
        <div>
            <h1>Pagination</h1>

            <!-- items being paged -->
            <div *ngFor="let item of pagedItems">{{item.name}}</div>

            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>






<!-- <div class="w3-container">
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
      <header class="w3-container w3-teal">
        <span *ngIf="isModal"></span>
        <h1 style="text-align: center;">Add a new user</h1>
      </header>

      <div class="w3-container">
        <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">

          <div>
            <label>First Name</label>
            <input type="text" formControlName="firstname" minlength="5" placeholder="Enter First Name...">
          </div>
          <div *ngIf="userForm.controls['firstname'].invalid &&
                (userForm.controls['firstname'].dirty || userForm.controls['firstname'].touched)">
            <div class="alert" *ngIf="userForm.controls['firstname'].errors.required">
              First name is required.
            </div>
            <div class="alert" *ngIf="userForm.controls['firstname'].errors.minlength">
              Name must be atleast 5 characters long
            </div>
          </div>

          <div>
            <label>Last Name</label>
            <input type="text" formControlName="lastname" placeholder="Enter Last Name...">
          </div>
          <div *ngIf="userForm.controls['lastname'].invalid &&
                (userForm.controls['lastname'].dirty || userForm.controls['lastname'].touched)">
            <div class="alert" *ngIf="userForm.controls['lastname'].errors.required">
              Last name is required.
            </div>
          </div>

          <div>
            <label>Email </label>
            <input type="email" formControlName="email" placeholder="Enter Email Id...">
            <div *ngIf="userForm.controls['email'].invalid &&
                (userForm.controls['email'].dirty || userForm.controls['email'].touched)">
              <div class="alert" *ngIf="userForm.controls['email'].errors.required">
                Email required.
              </div>
              <div class="alert" *ngIf="userForm.controls['email'].errors.pattern">
                Invalid email
              </div>
            </div>
          </div>
          <div class="btn-group">
            <button class="btnCancel-form" type="button"  (click)="closeModal()">Cancel</button>
            <button class="btnSave-form"   type="submit">Save</button>
          </div>
        </form>
      </div>
      <footer class="w3-container w3-teal">

        <p>Modal Footer</p>
      </footer>
    </div>
  </div>
</div> -->


